@page "/about"
<link href="css/about.css" rel="stylesheet" />
<PageTitle>Sobre</PageTitle>


<div class="div-about">
    <h1>Sobre o projeto</h1>

    <p>Este projeto foi criado para unir duas paixões: tecnologia e música. Além de aprofundar meus conhecimentos em desenvolvimento de software, o RapGame é uma forma de celebrar a cultura do rap de maneira interativa.
    </p>

    <p>O RapGame foi construído utilizando .NET como base tecnológica. O back-end foi desenvolvido em ASP.NET Core, com uma API REST responsável pelo armazenamento e fornecimento dos dados necessários para o jogo. Já o front-end foi implementado em Blazor, garantindo uma experiência dinâmica e responsiva. Para mais detalhes técnicos, confira o repositório no GitHub.</p>

</div>


<div class="div-about" >
        <h2>Sobre mim</h2>
        <p>Olá! Me chamo <strong>Guilherme</strong>, sou um estudante de programação apaixonado por tecnologia e música.</p>
        
        <p>O <strong>RapGame</strong> é meu projeto que combina duas coisas que amo: <strong>desenvolvimento de software</strong> e a <strong>cultura do rap</strong>. Através dele, pude colocar em prática conhecimentos em:</p>
        <ul>
            <li>API com ASP.NET Core</li>
            <li>Front-end em Blazor WebAssembly</li>
            <li>Autenticação com JWT</li>
            <li>Autocomplete em tempo real</li>
            <li>Upload de imagem da capa</li>
            <li>Feedback visual estilo Wordle</li>
            <li>Lógica compartilhada com classe base</li>
            <li>Validação de formulários</li>
            <li>Projeto separado em API, Cliente e Shared</li>
        </ul>
        <p>Quer ver como este projeto foi construído?</p>
        <div class="div-link">
            <a href="https://github.com/GuiAugus/RapGame" class="repo-button" target="_blank">
                <img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg"
                    alt="GitHub" style="width: 40px; height: 40px; vertical-align: middle; margin-right: 10px;">
                Ver repositório no GitHub
            </a>
        </div>
</div>