@page "/"
<link href="css/home.css" rel="stylesheet" />
<PageTitle>Home</PageTitle>

<div class="div-home">
    <h1>RAPGAME</h1>

    <p>O RapGame é uma plataforma de minijogos criada para desafiar seus conhecimentos sobre a cultura hip-hop de maneira descontraída e envolvente.</p>

    <p>Nosso minigame Rapdle é inspirado no famoso Wordle, mas, em vez de adivinhar uma palavra, o desafio é descobrir qual álbum de rap nacional está escondido. A cada tentativa, você recebe dicas que ajudam a refinar seus palpites, com uma tabela dinâmica para acompanhar seus acertos e erros.</p>

</div>


