.topnav {
    background-color: #e7e7e7;
    justify-content: space-between;
    background: #f0f0f0;
    padding : 15px 20px;
    border-bottom: 3px solid #000000;
    gap: 10px;
    text-decoration: none;
  }

.nav-button {
  background: #ddd;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  color: #333;
}

.nav-button:hover {
  background: #ccc;
}
