@import url(reset.css);
@import url(navbar.css);
@import url(footer.css);
@import url(rapdle.css);
@import url(admin/CadastrarAlbum.css);
@import url(admin/Admin.css);
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: "Press Start 2P", sans-serif;
    font-style: normal;
    background-color: #aaaaaa;
    color: #000000;
    line-height: 1.6;
}

