@import url(reset.css);

@font-face {
    font-family: "Press Start 2P";
    src: url(../fonts/PressStart2P-Regular.ttf);
}

:root {
    --font-color: #000000;
    --cor1: #9c9c9c;
    --cor2: #e4e4e4;
    --cor3: #c7c7c7;
}

body {
    font-family: "Press Start 2P", sans-serif;
    font-style: normal;
    background-color: var(--cor1);
    color: var(--font-color);
    line-height: 1.6;
}


/* CSS */
.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* ocupa a tela inteira */
}

.spinner {
    width: 50px;
    height: 50px;
    border: 6px solid #ccc;
    border-top: 6px solid #000;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

/* Animação girando */
@keyframes spin {
    to { transform: rotate(360deg); }
}