<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(RapGame.Client.Pages.Shared.MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(RapGame.Client.Pages.Shared.MainLayout)">
            <h1>Página não encontrada</h1>
        </LayoutView>
    </NotFound>
</Router>
