<div @onclick="ToggleNavMenu">
    <nav class="navbar">
        <div class="fa fa-fw fa-home">
            <NavLink  href="" Match="NavLinkMatch.All">
                <span  aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="fa fa-fw fa-home">
            <NavLink  href="/rapdle">
                <span aria-hidden="true"></span> Rapdle
            </NavLink>
        </div>
        <div class="fa fa-fw fa-home">
            <NavLink  href="/about">
                <span  aria-hidden="true"></span> Sobre
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
