/* /Pages/Rapdle.razor.rz.scp.css */
.titulo[b-a7ddaled69] {
    color: purple;
    font-size: 28px;
}


h3[b-a7ddaled69] {
    background-color: aqua;
}

.table td.table-success[b-a7ddaled69], .table td.table-danger[b-a7ddaled69] {
    font-weight: bold;
    color: white;
    border-radius: 8px;
    padding: 12px;
}

.table-success[b-a7ddaled69] {
    background-color: #28a745 !important; /* verde */
}

.table-danger[b-a7ddaled69] {
    background-color: #dc3545 !important; /* vermelho */
}
