@inherits LayoutComponentBase
@namespace RapGame.Client.Pages.Shared

<div class="layout-container">
    <header class="header">
        <NavMenu />
    </header>

    <main class="main-content">
        @Body
    </main>

    <footer class="footer">
        <Footer />
    </footer>
</div>
