@namespace RapGame.Client.Pages.Shared

<nav class="topnav">
    <a class="nav-button" href="/">HOME</a>
    <a class="nav-button" href="/rapdle">RAPDLE</a>
    <a class="nav-button" href="/about">SOBRE</a>
</nav>
